body {
    background:#ffffff;
 
    }
.header{

    }
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
p {
    
    font-family: 'Rubik Beastly', cursive;
    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
    padding-left: 120px;
}
.header{ 
    display:flex;
    flex-direction:row;

    }
.header-nav {
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 463px;
    height: 36px;
    padding-left: 250px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.header-nav div{
    padding-inline:15px;
    }
.camera-section{
    display:flex;
   padding:50px 120px;
    }
.camera-section div{
    display:felx;
    width:50%;
    }

    .camera-section div h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height:33px;
        margin:0px;
    }
    .camera-section div h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .camera-section div h6 {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 600;
        background:#E02C6D;
        color:white;
        width:200px;
        text-align:center;
        border-radius:40px;
        margin:0px;
       

    }

.div-transform {
    height: 475px;
    width: 475px;
    padding-left:50px;
}
.div-transform:hover img{
    
    transform:rotate(360deg);
    transition:5s;
    transition-duration:4s;
    transition-duration:3s;
    scroll-behavior:smooth;
}
.background {
    
    border-radius: 0px;
    background: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
}
.site-link-div {
    display: grid;
    width: 1110px;
    height: 110px;
    justify-items: center;
    justify-content: center;
    padding-left:auto;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    justify-content: space-evenly;
}


.footer {
    text-align: center;
    
    color: white;
    background: #0A0826;
    padding-top:50px;
    padding-bottom:50px;
  
}
/*   products  designing........*/
.popular {
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size:40px;
    text-align:center;
}
.product-arranging {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 30px;
    padding: 8px;
    border-radius:5px;
   
    }
.product-section{
    margin-left:20px;

    }
.product-space div h3 {
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size:30px;
    margin-bottom:0px;
    margin-top:5px;
}
.product-space div h6 {
    padding: 0px;
    margin:0;
    font-family:'Times New Roman';
        font-size:20px;
        font-weight:300;
}
.fa-star.filled{
    color:gold;
   
}
.total-review {
    padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300px;
}
.product-space div h4 {
    padding: 0px;
    margin: 2px;
}
.product-space {
    Width: 300px;
    Height: 450px;
    border-radius: 10px;
    border-block-color:white;
}
.produc-space img {
    height:250px;
    width:300px;
}
/* rating */
.rating{ display:flex;

    }
    .footer h4{
        margin:0px;
    }
        .footer h2 {
            margin: 0px;
        }
        span{
            padding-left:15px;
          
        }
.see-more {
    text-align-last: end;
    padding-bottom: 10px;
    color: #E02C6DDE;
}
@media screen and (max-width: 800px) {
    .header, .footer {
        width: 100%; 
    }
    .camera-section{
      
        flex-direction:column-reverse;
        width:100%;
    }
    .site-link-div {
        grid-template-columns: repeat(4,1fr);
        width:100%;
    }
    .product-arranging {
        grid-template-columns: repeat(1,1fr);
        width=100%;
        align-content:center;
    }
    }